{% set dummytxt = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged." %}
{% extends "_layout.twig" %}

{% block localcss %}
<link  href="{{ assets }}/css/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 class="text-center title">NANO NAGLE SCHOOL OF GENIUSES</h2>

    <div class="col-md-12 homepagecontent">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ assets }}/img/vision-icon.png" class="img-responsive center-block">
                <h3>Vision</h3>
                <p>{{ dummytxt }}</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ assets }}/img/mission-icon.png" class="img-responsive center-block">
                <h3>Mission</h3>
                <p>{{ dummytxt }}</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ assets }}/img/goal-icon.png" class="img-responsive center-block">
                <h3>Goal</h3>
                <p>{{ dummytxt }}</p>
            </div>
        </div>
    </div>

{% endblock %}